{% load static %}
<!-- About -->
<section class="row" id="tmAbout">

        <header class="col-12 tm-about-header ">

            <div class="tm-bg-black-transparent">
                <hr class="tm-about-title-hr">
            <h2 class="text-uppercase text-center text-black tm-about-page-title"><strong>Jalyuzelar haqida</strong>
            </h2>
                <hr class="tm-about-title-hr">
                </div>
        </header>

    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
            <div class="tm-about-slider-container mb-4">
                <img src="{% static 'img/about/about-combo.jpg' %}" style="width: 100%; border-radius: 20px;">
            </div>
            <h3 class="tm-about-name">Combo</h3>
            <p class="tm-about-description">
                Kombo rolikli pardalar ikki baravar uslubni ta'minlaydi va energiyani ikki baravar tejashga yordam
                beradi! Ajoyib energiya tejovchi mato bilan qo'shimcha izolyatsiya qatlami qo'shing. Combo rolikli
                jalyuzlar yordamida siz uyingizni isitish yoki sovutishingiz mumkin, shu bilan birga energiya uchun
                to‘lovlaringizni kam saqlaysiz.
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
            <div class="tm-about-slider-container mb-4">
                <img src="{% static 'img/about/about-tul.jpg' %}" style="width: 100%; border-radius: 20px;">
            </div>
            <h3 class="tm-about-name">TUL</h3>
            <p class="tm-about-description">
                Ushbu mahsulot guruhi mexanizmli bitta matoda tul - soyabon - parda sifatida ishlatiladigan pardalarni
                taqdim etadi. Ushbu ko'r-ko'rona pozitsiyasi vertikal bo'lib, u tul sifatida ishlaydi, siz 90 daraja
                o'ngga yoki chapga burilsangiz, quyosh soyasiga aylanadi. Bundan tashqari, u 50 ga yaqin rang
                variantlari bilan eng ko'p afzal qilingan turlardan biridir.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">

            <div class="tm-about-slider-container mb-4">
                <img src="{% static 'img/about/about-plise.jpg' %}" style="width: 100%; border-radius: 20px;">
            </div>
            <h3 class="tm-about-name">Lumi plissé</h3>
            <p class="tm-about-description">
                Tizimning ishlashi tufayli, ayniqsa, panjurlar o'rtasida minimal bo'shliqlar bo'lishi kerak bo'lsa,
                bu
                panjurlar cheksiz ko'p qirrali. Lumi plissé jalyuzi eshiklarga yo'naltiruvchi simlar bilan
                o'rnatishda
                eng yaxshi variantlardan biri bo'lib, ko'rning oynaga yaqin joylashishini ta'minlaydi.
            </p>
        </div>

    </div>

</section>



