{% load static %}


<section class="row tm-contact-row" id="tmCallToAction">
    <div class="col-lg-6 tm-contact-col-left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4806.266197424236!2d69.2052257438451!3d41.27078887804641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a22aef832e1%3A0x3d31c578e1a8e50a!2z0KfQuNC70LDQvdC30LDRgA!5e0!3m2!1sru!2s!4v1703503591129!5m2!1sru!2s"
                width="100%" height="100%"
                allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">

        </iframe>
    </div>
    <div class="col-lg-6 tm-contact-col-right">
        <div class="tm-bg-black-transparent tm-contact-text">

            <i class="mx-auto mb-5 fas fa-3x fa-map-marked "></i>

            <h3 class="tm-service-tab-title">Manzil:</h3>

            <div class="tm-icon-container">
                <i class="fas fa-1x fa-walking">
                    <p>Toshkent, Chilonzor, Bunyodkor 5</p>
                </i>
                <br>
                <i class="fas fa-1x fa-phone">
                    <p> +99890-565-69-80</p>
                </i>
<br>
                <i class="fas fa-1x">
                    <p> +99890-565-69-80</p>
                </i>
                <br>
                <i class="fas fa-1x fa-location-arrow"><br>
                    <a class="cancel-link btn-link" href=""> Telegram</a>
                </i>

            </div>
        </div>
    </div>
</section>


