<div class="row" id="tmFeatures">
    <div class="col-lg-4">
        <div class="tm-bg-white-transparent tm-feature-box">
            <h3 class="tm-feature-name">YUQORI SIFAT</h3>

            <div class="tm-feature-icon-container">
                <i class="fas fa-3x fa-clock"></i>
            </div>

            <p class="text-center text-uppercase" style="font-size: 25px">
                Ishlab chiqarish vaqti - <strong>24 soat</strong>
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-white-transparent tm-feature-box">
            <h3 class="tm-feature-name"><strong>1 YIL</strong> KAFOLAT</h3>

            <div class="tm-feature-icon-container">
                <i class="fas fa-3x fa-check-circle"></i>
            </div>
            <p class="text-center  text-uppercase" style="font-size: 25px">
                BIZ HAR QANDAY HAJM BILAN ISHLAYMIZ
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-white-transparent tm-feature-box">
            <h3 class="tm-feature-name">YETKAZIB BERISH</h3>

            <div class="tm-feature-icon-container">
                <i class="fas fa-3x fa-truck"></i>
            </div>
            <p class="text-center" style="font-size: 25px">
                YUQORI SIFATLI MATOLAR VA MUAMMOSIZ MEXANIZMLAR</p>
        </div>
    </div>
</div>